.card{
    border: 1px solid #ddd;
    width: 250px;
    min-height: 420px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.price-section{
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.18);
}
.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
}
.card h3{
    margin: 15px 0 5px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin-top: auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.oldPrice{
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin: 0;
}
.current-price{
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
    margin: 4px 0 5px 0;
}
.discount{
    height: 20px;
    color: #d32f2f;
    font-weight: bold;
    font-size: 14px;
}